# gradle
.gradle/
build/
out/
classes/

# eclipse
*.launch

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# macos
*.DS_Store

# fabric
run/
.fabric/
remappedSrc/

# neoforge
run-data/
run-client/
run-server/
runs/

# java
hs_err_*.log
replay_*.log
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# architectury
.architectury-transformer/
*/build/
*/*/build/
*/.gradle/
*/*/.gradle/

# vim
*.swp
*.swo

# project
local.properties
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar